<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="System.Windows.Window, PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                mapTo="PhotoScope.DesktopUI.ShellWindow, PhotoScope.DesktopUI" />
    </container>
  </unity>
</configuration>