<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="System.Windows.Window, PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                mapTo="PhotoScope.DesktopUI.ShellWindow, PhotoScope.DesktopUI" />

      <register type="PhotoScope.Core.Interfaces.IModelProvider`1[[PhotoScope.Core.DTOModels.Feed,PhotoScope.Core]], PhotoScope.Core"
                mapTo="PhotoScope.BusinessLogic.PhotoListModelProvider, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>
      <register type="PhotoScope.Core.Interfaces.IFeedDtoPopulator, PhotoScope.Core"
                mapTo="PhotoScope.BusinessLogic.PhotoFeedDtoPopulator, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>
      <register type="PhotoScope.Core.Interfaces.IPhotoFeedHandler, PhotoScope.Core"
                mapTo="PhotoScope.BusinessLogic.PhotoFeedHandler, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>
      <register type="PhotoScope.ServiceAccessLayer.Interfaces.IServiceAccessor, PhotoScope.ServiceAccessLayer"
                mapTo="PhotoScope.ServiceAccessLayer.FlickrServiceAccessor, PhotoScope.ServiceAccessLayer">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>