<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="System.Windows.Window, PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                mapTo="PhotoScope.DesktopUI.ShellWindow, PhotoScope.DesktopUI" />

      <!--External Interface Registrations-->
      <register type="PhotoScope.Core.Interfaces.IModelProvider`1[[PhotoScope.Core.DTOModels.Feed,PhotoScope.Core]], PhotoScope.Core"
                mapTo="PhotoScope.BusinessLogic.FeedModelProvider, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>
      <register type="PhotoScope.Core.Interfaces.IModelProvider`1[[PhotoScope.Core.DTOModels.SearchParameters,PhotoScope.Core]], PhotoScope.Core"
                mapTo="PhotoScope.BusinessLogic.SearchParameterModelProvider, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.Core.Interfaces.IModelProvider`1[[PhotoScope.Core.DTOModels.PreviewModel,PhotoScope.Core]], PhotoScope.Core"
                mapTo="PhotoScope.PreviewDisplay.PreviewModelProvider, PhotoScope.PreviewDisplay">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.Core.Interfaces.IFeedController, PhotoScope.Core"
                mapTo="PhotoScope.BusinessLogic.FeedController, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.Core.Interfaces.IPreviewController, PhotoScope.Core"
                mapTo="PhotoScope.PreviewDisplay.PreviewController, PhotoScope.PreviewDisplay">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.Core.Interfaces.ISearchController, PhotoScope.Core"
                mapTo="PhotoScope.BusinessLogic.SearchController, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <!--BusinessLogic Internal Registrations-->
      <register type="PhotoScope.BusinessLogic.Interfaces.IFeedItemAccessor, PhotoScope.BusinessLogic"
                mapTo="PhotoScope.BusinessLogic.PhotoItemAccessor, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.BusinessLogic.Interfaces.IFeedDtoPopulator, PhotoScope.BusinessLogic"
                mapTo="PhotoScope.BusinessLogic.FeedDtoPopulator, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.BusinessLogic.Interfaces.ISearchParameterStore, PhotoScope.BusinessLogic"
                mapTo="PhotoScope.BusinessLogic.SearchParameterStore, PhotoScope.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <!--Preview display Registrations-->
      <register type="PhotoScope.PreviewDisplay.Interfaces.IPreviewItemAccessor, PhotoScope.PreviewDisplay"
                mapTo="PhotoScope.PreviewDisplay.PreviewItemAccessor, PhotoScope.PreviewDisplay">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.PreviewDisplay.Interfaces.IPreviewPopulator, PhotoScope.PreviewDisplay"
                mapTo="PhotoScope.PreviewDisplay.PreviewPopulator, PhotoScope.PreviewDisplay">
        <lifetime type="singleton" />
      </register>

      <!--Service Layer Internal Registrations-->
      <register type="PhotoScope.ServiceAccessLayer.Interfaces.IServiceAccessor, PhotoScope.ServiceAccessLayer"
                mapTo="PhotoScope.ServiceAccessLayer.FlickrServiceAccessor, PhotoScope.ServiceAccessLayer">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.ServiceAccessLayer.Interfaces.IQueryManager, PhotoScope.ServiceAccessLayer"
                mapTo="PhotoScope.ServiceAccessLayer.FlickrQueryManager, PhotoScope.ServiceAccessLayer">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.ServiceAccessLayer.Interfaces.IQueryBuilder, PhotoScope.ServiceAccessLayer"
                mapTo="PhotoScope.ServiceAccessLayer.FlickrRestQueryBuilder, PhotoScope.ServiceAccessLayer">
        <lifetime type="singleton" />
      </register>

      
    </container>
  </unity>
</configuration>