<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="APIKey" value="c3b8bebd6bca6ec55ffc09e58dca6e10"/>
    <add key="CacheEnabled" value="true"/>
    <add key="CacheCapacity" value="100"/>
  </appSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="System.Windows.Window, PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    mapTo="HostControl.Bootstrapper.ShellWindow, HostControl.Bootstrapper" />

      <!--Photo Feed Registrations-->
      <register type="PhotoScope.Core.Interfaces.IModelProvider`1[[PhotoScope.Core.DTOModels.Feed,PhotoScope.Core]], PhotoScope.Core"
                mapTo="PhotoFeed.BusinessLogic.FeedModelProvider, PhotoFeed.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoFeed.Interfaces.IFeedItemAccessor, PhotoFeed.Interfaces"
                mapTo="PhotoFeed.BusinessLogic.PhotoItemAccessor, PhotoFeed.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoFeed.Interfaces.IFeedDtoPopulator, PhotoFeed.Interfaces"
                mapTo="PhotoFeed.BusinessLogic.FeedDtoPopulator, PhotoFeed.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.Core.Interfaces.IFeedController, PhotoScope.Core"
                mapTo="PhotoFeed.BusinessLogic.FeedController, PhotoFeed.BusinessLogic">
        <lifetime type="singleton" />
      </register>



      <!--Preview Display Registrations-->
      <register type="PhotoScope.Core.Interfaces.IModelProvider`1[[PhotoScope.Core.DTOModels.PreviewModel,PhotoScope.Core]], PhotoScope.Core"
                mapTo="PreviewDisplay.BusinessLogic.PreviewModelProvider, PreviewDisplay.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.Core.Interfaces.IPreviewController, PhotoScope.Core"
                mapTo="PreviewDisplay.BusinessLogic.PreviewController, PreviewDisplay.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PreviewDisplay.Interfaces.IPreviewItemAccessor, PreviewDisplay.Interfaces"
                mapTo="PreviewDisplay.BusinessLogic.PreviewItemAccessor, PreviewDisplay.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PreviewDisplay.Interfaces.IPreviewPopulator, PreviewDisplay.Interfaces"
                mapTo="PreviewDisplay.BusinessLogic.PreviewPopulator, PreviewDisplay.BusinessLogic">
        <lifetime type="singleton" />
      </register>


      <!--Search Dashboard Registrations-->
      <register type="PhotoScope.Core.Interfaces.IModelProvider`1[[PhotoScope.Core.DTOModels.SearchParameters,PhotoScope.Core]], PhotoScope.Core"
                mapTo="SearchDashboard.BusinessLogic.SearchParameterModelProvider, SearchDashboard.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="PhotoScope.Core.Interfaces.ISearchController, PhotoScope.Core"
                mapTo="SearchDashboard.BusinessLogic.SearchController, SearchDashboard.BusinessLogic">
        <lifetime type="singleton" />
      </register>

      <register type="SearchDashboard.Interfaces.ISearchParameterStore, SearchDashboard.Interfaces"
                mapTo="SearchDashboard.BusinessLogic.SearchParameterStore, SearchDashboard.BusinessLogic">
        <lifetime type="singleton" />
      </register>


      <!--Service Layer Internal Registrations-->
      <register type="ServiceAccess.FlickrService.Interfaces.IServiceAccessor, ServiceAccess.FlickrService"
                mapTo="ServiceAccess.FlickrService.FlickrServiceAccessor, ServiceAccess.FlickrService">
        <lifetime type="singleton" />
      </register>

      <register type="ServiceAccess.Interfaces.Interfaces.IQueryManager, ServiceAccess.Interfaces"
                mapTo="ServiceAccess.FlickrService.FlickrQueryManager, ServiceAccess.FlickrService">
        <lifetime type="singleton" />
      </register>

      <register type="ServiceAccess.Interfaces.Interfaces.IQueryBuilder, ServiceAccess.Interfaces"
                mapTo="ServiceAccess.FlickrService.FlickrRestQueryBuilder, ServiceAccess.FlickrService">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>